.div {
    text-align: center;
    margin-top: 4rem;
}
.btn {
    cursor: pointer;
    padding: 10px 16px;
    background-color: hsl(14, 100%, 57%);
    color: #ffffff;
    margin-left: 5px;
    border:2px solid #ff5722;
    font-weight: bolder;
    transition: all 300ms ease-in-out;
}
.btn:hover {
    background-color: hsl(14, 100%, 45%);
}
.btn:focus {
    transform: scale(1.04);
}
